In [122]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.2'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,294 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,421 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Fetched 3,967 kB in 3s (1,480 kB/s)
Reading package lists... Done

In [123]:
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()
from pyspark import SparkFiles

#read in data from S3 Buckets

url='https://project3group5.s3.amazonaws.com/SVDemo_combined.csv'

spark.sparkContext.addFile(url)

df=spark.read.csv(SparkFiles.get("SVDemo_combined.csv"),sep=",",inferSchema=True)
df.show()

+-------+----+------------------+------+--------------------+-----+------------+------------+------------+
|    _c0| _c1|               _c2|   _c3|                 _c4|  _c5|         _c6|         _c7|         _c8|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+
|company|year|              race|gender|        job_category|count|valuation   |ownership   |eeo-1 status|
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|       $1.1b|     private|         YES|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|       $1.1b|     private|         YES|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+
only showing top 20 rows

In [137]:
from pyspark.sql.types import IntegerType, StructField, StructType,DecimalType
from pyspark.sql.functions import col,regexp_replace,when,expr,regexp_extract,column,split,concat_ws,row_number,count
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

In [138]:
#create new column to remove $, m, and b in column _c6, then cast decimaltype, and times 1000000 or 1000000000 according to m or b
df2=df.withColumn("evaluation",split(col("_c6"),"[$]").getItem(1)).withColumn("evaluation2",split(col("evaluation"),"m").getItem(0).cast(DecimalType())*1000000).withColumn("evaluation3",split(col("evaluation"),"b").getItem(0).cast(DecimalType())*1000000000)
df2.show()

+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
|    _c0| _c1|               _c2|   _c3|                 _c4|  _c5|         _c6|         _c7|         _c8|evaluation|evaluation2|evaluation3|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
|company|year|              race|gender|        job_category|count|valuation   |ownership   |eeo-1 status|      null|       null|       null|
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|       null| 1000000000|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
only showing top 20 rows

In [139]:
#fill null with 0
df3=df2.fillna(0)
df3.show()

+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
|    _c0| _c1|               _c2|   _c3|                 _c4|  _c5|         _c6|         _c7|         _c8|evaluation|evaluation2|evaluation3|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
|company|year|              race|gender|        job_category|count|valuation   |ownership   |eeo-1 status|      null|          0|          0|
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+
only showing top 20 rows

In [140]:
#create new column that add value of evaluation2 and evaluation3
df4=df3.withColumn("evaluations",df3["evaluation2"]+df3["evaluation3"])
df4.show()

+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+-----------+
|    _c0| _c1|               _c2|   _c3|                 _c4|  _c5|         _c6|         _c7|         _c8|evaluation|evaluation2|evaluation3|evaluations|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+-----------+
|company|year|              race|gender|        job_category|count|valuation   |ownership   |eeo-1 status|      null|          0|          0|          0|
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|       $1.1b|     private|         YES|      1.1b|          0| 1000000000| 1000000000|
+-------+----+------------------+------+--------------------+-----+------------+------------+------------+----------+-----------+-----------+-----------+
only showing top 20 rows

In [141]:
#remove the first row
df5=df4.filter(df3._c0!="company")
df5.show()

+-------+----+------------------+------+--------------------+---+-----+-------+---+----------+-----------+-----------+-----------+
|    _c0| _c1|               _c2|   _c3|                 _c4|_c5|  _c6|    _c7|_c8|evaluation|evaluation2|evaluation3|evaluations|
+-------+----+------------------+------+--------------------+---+-----+-------+---+----------+-----------+-----------+-----------+
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|  1|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|  7|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|  8|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals| na|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|  1|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|  5|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|  5|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          operatives|  0|$1.1b|private|YES|      1.1b|          0| 1000000000| 1000000000|
+-------+----+------------------+------+--------------------+---+-----+-------+---+----------+-----------+-----------+-----------+
only showing top 20 rows

In [142]:
#rename all columns
df6=df5.withColumnRenamed("_c0","company").withColumnRenamed("_c1","year").withColumnRenamed("_c2","race").withColumnRenamed("_c3","gender").withColumnRenamed("_c4","job_category").withColumnRenamed("_c5","count").withColumnRenamed("_c6","valuation").withColumnRenamed("_c7","ownership").withColumnRenamed("_c8","eeo_1 status").withColumnRenamed("evaluations","valuations")
df6.show()

+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+-----------+-----------+----------+
|company|year|              race|gender|        job_category|count|valuation|ownership|eeo_1 status|evaluation|evaluation2|evaluation3|valuations|
+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+-----------+-----------+----------+
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          operatives|    0|    $1.1b|  private|         YES|      1.1b|          0| 1000000000|1000000000|
+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+-----------+-----------+----------+
only showing top 20 rows

In [143]:
#drop columns 
df7=df6.drop("evaluation2").drop("evaluation3").drop("evaluation")
df7.show()

+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+
|company|year|              race|gender|        job_category|count|valuation|ownership|eeo_1 status|valuations|
+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+
|23andMe|2016|Hispanic_or_Latino|  male|          Executives|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|            Managers|    1|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Professionals|    7|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|         Technicians|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Sales workers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|Administrative su...|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|       Craft workers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|          operatives|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|laborers and helpers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Service workers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|              Totals|    8|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|  male|     Previous_totals|   na|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          Executives|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|            Managers|    1|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Professionals|    5|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|         Technicians|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Sales workers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|Administrative su...|    5|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|       Craft workers|    0|    $1.1b|  private|         YES|1000000000|
|23andMe|2016|Hispanic_or_Latino|female|          operatives|    0|    $1.1b|  private|         YES|1000000000|
+-------+----+------------------+------+--------------------+-----+---------+---------+------------+----------+
only showing top 20 rows

In [144]:
#cast integertype to column count

df8=df7.withColumn("count",df7["count"].cast(IntegerType()))
df8.printSchema()

root
 |-- company: string (nullable = true)
 |-- year: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- job_category: string (nullable = true)
 |-- count: integer (nullable = true)
 |-- valuation: string (nullable = true)
 |-- ownership: string (nullable = true)
 |-- eeo_1 status: string (nullable = true)
 |-- valuations: decimal(22,0) (nullable = true)

In [145]:
#create pandas dataframe
import pandas as pd
pandas_df=df8.toPandas()
pandas_df.head()

   company  year                race  ... ownership eeo_1 status  valuations
0  23andMe  2016  Hispanic_or_Latino  ...   private          YES  1000000000
1  23andMe  2016  Hispanic_or_Latino  ...   private          YES  1000000000
2  23andMe  2016  Hispanic_or_Latino  ...   private          YES  1000000000
3  23andMe  2016  Hispanic_or_Latino  ...   private          YES  1000000000
4  23andMe  2016  Hispanic_or_Latino  ...   private          YES  1000000000

[5 rows x 10 columns]

In [146]:
#import drive to load data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [147]:
#export csv data
pandas_df.to_csv("/content/drive/MyDrive/combined_decimal_integer_csv.csv",index=False,encoding='utf_8_sig')

In [149]:
#group by company and get the sum of count of male and female
df9=df8.groupBy("company","year","ownership","valuations","eeo_1 status","gender").pivot("gender").sum("count").orderBy("company")
df9.show()

+-------------+----+---------+------------+------------+------+------+------+------+
|      company|year|ownership|  valuations|eeo_1 status|gender|  null|female|  male|
+-------------+----+---------+------------+------------+------+------+------+------+
|      23andMe|2016|  private|  1000000000|         YES|  null|   594|  null|  null|
|      23andMe|2016|  private|  1000000000|         YES|female|  null|   298|  null|
|      23andMe|2016|  private|  1000000000|         YES|  male|  null|  null|   296|
|Adobe Systems|2016|   public| 64000000000|         YES|  male|  null|  null| 14244|
|Adobe Systems|2016|   public| 64000000000|         YES|female|  null|  6661|  null|
|Adobe Systems|2016|   public| 64000000000|         YES|  null| 20905|  null|  null|
|       Airbnb|2016|  private| 31000000000|         YES|  null|  5235|  null|  null|
|       Airbnb|2016|  private| 31000000000|         YES|  male|  null|  null|  2943|
|       Airbnb|2016|  private| 31000000000|         YES|female|  null|  2292|  null|
|        Apple|2016|   public|754000000000|         YES|female|  null| 69223|  null|
|        Apple|2016|   public|754000000000|         YES|  null|226878|  null|  null|
|        Apple|2016|   public|754000000000|         YES|  male|  null|  null|157655|
|Cisco Systems|2016|   public|169000000000|         YES|female|  null| 29115|  null|
|Cisco Systems|2016|   public|169000000000|         YES|  male|  null|  null| 82251|
|Cisco Systems|2016|   public|169000000000|         YES|  null|111366|  null|  null|
|     Facebook|2016|   public|411000000000|         YES|  null| 30928|  null|  null|
|     Facebook|2016|   public|411000000000|         YES|  male|  null|  null| 21269|
|     Facebook|2016|   public|411000000000|         YES|female|  null|  9659|  null|
|       Google|2016|   public|579000000000|         YES|female|  null| 38431|  null|
|       Google|2016|   public|579000000000|         YES|  null|132191|  null|  null|
+-------------+----+---------+------------+------------+------+------+------+------+
only showing top 20 rows

In [150]:
#fill all the null with 0 and group by company
df10=df9.drop("gender").drop("null").fillna(0).groupBy("company","ownership","year","valuations","eeo_1 status").sum("female","male")
df10.show()

+--------------------+---------+----+------------+------------+-----------+---------+
|             company|ownership|year|  valuations|eeo_1 status|sum(female)|sum(male)|
+--------------------+---------+----+------------+------------+-----------+---------+
|       Adobe Systems|   public|2016| 64000000000|         YES|       6661|    14244|
|               Intel|   public|2016|171000000000|         YES|      41259|   120744|
|                Uber|  private|2016| 63000000000|         YES|       3472|     8298|
|              Airbnb|  private|2016| 31000000000|         YES|       2292|     2943|
|                Lyft|  private|2016|  8000000000|         YES|       1431|     1970|
|              PayPal|   public|2016| 52000000000|         YES|      12833|    17102|
|           Pinterest|  private|2016| 12000000000|         YES|       1058|     1417|
|             Twitter|   public|2016| 11000000000|         YES|       3179|     6058|
|               Apple|   public|2016|754000000000|         YES|      69223|   157655|
|          MobileIron|   public|2016|   388000000|         YES|        473|     1096|
|              Google|   public|2016|579000000000|         YES|      38431|    93760|
|              Nvidia|   public|2016| 64000000000|         YES|       2581|    12844|
|            Facebook|   public|2016|411000000000|         YES|       9659|    21269|
|             23andMe|  private|2016|  1000000000|         YES|        298|      296|
|            LinkedIn|   public|2016| 27000000000|         YES|       7870|    11719|
|             HP Inc.|   public|2016| 30000000000|         YES|      32241|    67136|
|                View|  private|2016|  1000000000|         YES|        212|     1060|
|              Intuit|   public|2016| 30000000000|         YES|       7712|    10474|
|Hewlett Packard E...|   public|2016| 39000000000|         YES|      34390|    69588|
|       Cisco Systems|   public|2016|169000000000|         YES|      29115|    82251|
+--------------------+---------+----+------------+------------+-----------+---------+
only showing top 20 rows

In [151]:
#group by company and get the sum of count for each race
df11=df8.groupBy("company","race").pivot("race").sum("count").orderBy("company")
df11.show()

+-------------+--------------------+------------------------------+-----+-------------------------+------------------+-----------------------------------+--------------+-----------------+-----+
|      company|                race|American_Indian_Alaskan_Native|Asian|Black_or_African_American|Hispanic_or_Latino|Native_Hawaiian_or_Pacific_Islander|Overall_totals|Two_or_more_races|White|
+-------------+--------------------+------------------------------+-----+-------------------------+------------------+-----------------------------------+--------------+-----------------+-----+
|      23andMe|   Two_or_more_races|                          null| null|                     null|              null|                               null|          null|               28| null|
|      23andMe|  Hispanic_or_Latino|                          null| null|                     null|                38|                               null|          null|             null| null|
|      23andMe|               Asian|                          null|  140|                     null|              null|                               null|          null|             null| null|
|      23andMe|American_Indian_A...|                             4| null|                     null|              null|                               null|          null|             null| null|
|      23andMe|      Overall_totals|                          null| null|                     null|              null|                               null|           594|             null| null|
|      23andMe|               White|                          null| null|                     null|              null|                               null|          null|             null|  372|
|      23andMe|Black_or_African_...|                          null| null|                       10|              null|                               null|          null|             null| null|
|      23andMe|Native_Hawaiian_o...|                          null| null|                     null|              null|                                  2|          null|             null| null|
|Adobe Systems|American_Indian_A...|                            39| null|                     null|              null|                               null|          null|             null| null|
|Adobe Systems|  Hispanic_or_Latino|                          null| null|                     null|               956|                               null|          null|             null| null|
|Adobe Systems|               White|                          null| null|                     null|              null|                               null|          null|             null|14031|
|Adobe Systems|Black_or_African_...|                          null| null|                      335|              null|                               null|          null|             null| null|
|Adobe Systems|      Overall_totals|                          null| null|                     null|              null|                               null|         20905|             null| null|
|Adobe Systems|               Asian|                          null| 5274|                     null|              null|                               null|          null|             null| null|
|Adobe Systems|Native_Hawaiian_o...|                          null| null|                     null|              null|                                 75|          null|             null| null|
|Adobe Systems|   Two_or_more_races|                          null| null|                     null|              null|                               null|          null|              195| null|
|       Airbnb|               Asian|                          null| 1479|                     null|              null|                               null|          null|             null| null|
|       Airbnb|               White|                          null| null|                     null|              null|                               null|          null|             null| 3053|
|       Airbnb|American_Indian_A...|                            12| null|                     null|              null|                               null|          null|             null| null|
|       Airbnb|      Overall_totals|                          null| null|                     null|              null|                               null|          5235|             null| null|
+-------------+--------------------+------------------------------+-----+-------------------------+------------------+-----------------------------------+--------------+-----------------+-----+
only showing top 20 rows

In [152]:
#fill all the null with 0 and group by company
df12=df11.drop("race").fillna(0).groupBy("company").sum("American_Indian_Alaskan_Native","Asian","Black_or_African_American","Hispanic_or_Latino","Native_Hawaiian_or_Pacific_Islander","Overall_totals","Two_or_more_races","White")
df12.show()

+--------------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|             company|sum(American_Indian_Alaskan_Native)|sum(Asian)|sum(Black_or_African_American)|sum(Hispanic_or_Latino)|sum(Native_Hawaiian_or_Pacific_Islander)|sum(Overall_totals)|sum(Two_or_more_races)|sum(White)|
+--------------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|              NetApp|                                 67|      5184|                           633|                    774|                                      26|              18901|                   209|     12008|
|                Lyft|                                 18|       657|                           206|                    241|                                       9|               3401|                   105|      2165|
|          Salesforce|                                 53|     10000|                           968|                   1656|                                     160|              41401|                   958|     27606|
|Hewlett Packard E...|                                412|     13268|                          7468|                   5974|                                     160|             103978|                  1154|     75542|
|         Sanmina-SCI|                                 58|      4021|                           944|                   1825|                                      34|              16025|                    76|      9067|
|             23andMe|                                  4|       140|                            10|                     38|                                       2|                594|                    28|       372|
|             Twitter|                                 22|      2910|                           216|                    373|                                      36|               9237|                   211|      5469|
|                View|                                  5|       255|                           185|                     55|                                       3|               1272|                    28|       741|
|              PayPal|                                 98|      8148|                          2495|                   1909|                                      90|              29935|                   343|     16852|
|              Square|                                 10|       836|                           166|                    202|                                      10|               3422|                   138|      2060|
|              Intuit|                                186|      5306|                           723|                   1321|                                      64|              18186|                   406|     10180|
|       Cisco Systems|                                276|     39948|                          3792|                   5644|                                     159|             111366|                  1006|     60541|
|              Google|                                162|     43559|                          3080|                   6602|                                     276|             132191|                  2440|     76072|
|             HP Inc.|                                432|     13660|                          5870|                   6756|                                     150|              99377|                  1239|     71270|
|            LinkedIn|                                 34|      7246|                           474|                    890|                                      31|              19589|                   363|     10551|
|                Uber|                                 18|      3972|                           566|                    560|                                      30|              11770|                   354|      6270|
|           Pinterest|                                 10|       999|                            47|                     84|                                       1|               2475|                    97|      1237|
|               Intel|                                902|     56272|                          6143|                  13190|                                     672|             162003|                  1959|     82865|
|          MobileIron|                                  3|       577|                            24|                     84|                                       6|               1569|                    22|       853|
|       Adobe Systems|                                 39|      5274|                           335|                    956|                                      75|              20905|                   195|     14031|
+--------------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
only showing top 20 rows

In [153]:
#group by company and get the sum of count for each job_category
df13=df8.groupBy("company","job_category").pivot("job_category").sum("count").orderBy("company")
df13.show()

+-------------+--------------------+----------------------+-------------+----------+--------+---------------+-------------+-------------+---------------+-----------+------+--------------------+----------+
|      company|        job_category|Administrative support|Craft workers|Executives|Managers|Previous_totals|Professionals|Sales workers|Service workers|Technicians|Totals|laborers and helpers|operatives|
+-------------+--------------------+----------------------+-------------+----------+--------+---------------+-------------+-------------+---------------+-----------+------+--------------------+----------+
|      23andMe|            Managers|                  null|         null|      null|     130|           null|         null|         null|           null|       null|  null|                null|      null|
|      23andMe|       Craft workers|                  null|            0|      null|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|      23andMe|       Professionals|                  null|         null|      null|    null|           null|          338|         null|           null|       null|  null|                null|      null|
|      23andMe|       Sales workers|                  null|         null|      null|    null|           null|         null|            0|           null|       null|  null|                null|      null|
|      23andMe|     Service workers|                  null|         null|      null|    null|           null|         null|         null|              0|       null|  null|                null|      null|
|      23andMe|          operatives|                  null|         null|      null|    null|           null|         null|         null|           null|       null|  null|                null|         0|
|      23andMe|laborers and helpers|                  null|         null|      null|    null|           null|         null|         null|           null|       null|  null|                   0|      null|
|      23andMe|     Previous_totals|                  null|         null|      null|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|      23andMe|Administrative su...|                    92|         null|      null|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|      23andMe|         Technicians|                  null|         null|      null|    null|           null|         null|         null|           null|          0|  null|                null|      null|
|      23andMe|          Executives|                  null|         null|        34|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|      23andMe|              Totals|                  null|         null|      null|    null|           null|         null|         null|           null|       null|   594|                null|      null|
|Adobe Systems|       Craft workers|                  null|            0|      null|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|Adobe Systems|          operatives|                  null|         null|      null|    null|           null|         null|         null|           null|       null|  null|                null|         0|
|Adobe Systems|Administrative su...|                   646|         null|      null|    null|           null|         null|         null|           null|       null|  null|                null|      null|
|Adobe Systems|     Previous_totals|                  null|         null|      null|    null|          13162|         null|         null|           null|       null|  null|                null|      null|
|Adobe Systems|         Technicians|                  null|         null|      null|    null|           null|         null|         null|           null|          0|  null|                null|      null|
|Adobe Systems|       Sales workers|                  null|         null|      null|    null|           null|         null|         2540|           null|       null|  null|                null|      null|
|Adobe Systems|            Managers|                  null|         null|      null|    4896|           null|         null|         null|           null|       null|  null|                null|      null|
|Adobe Systems|laborers and helpers|                  null|         null|      null|    null|           null|         null|         null|           null|       null|  null|                   0|      null|
+-------------+--------------------+----------------------+-------------+----------+--------+---------------+-------------+-------------+---------------+-----------+------+--------------------+----------+
only showing top 20 rows

In [154]:
#fill all the null with 0 and group by company
df14=df13.drop("job_category","Previous_totals","Totals").fillna(0).groupBy("company").sum("Administrative support","Craft workers","Executives","Managers","Professionals","Sales workers","Service workers","Technicians","laborers and helpers","operatives")
df14.show()

+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+
|             company|sum(Administrative support)|sum(Craft workers)|sum(Executives)|sum(Managers)|sum(Professionals)|sum(Sales workers)|sum(Service workers)|sum(Technicians)|sum(laborers and helpers)|sum(operatives)|
+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+
|              NetApp|                        182|                 0|             72|         2006|              7764|              1302|                   0|              36|                        0|              0|
|                Lyft|                        836|                 0|             30|          518|              1366|               112|                   4|               0|                        0|              0|
|          Salesforce|                        830|                 0|            474|         5204|             16238|              6686|                   0|               0|                        0|              0|
|Hewlett Packard E...|                       5840|                 0|           1198|        11880|             68246|              8958|                   0|            7354|                      366|            136|
|         Sanmina-SCI|                       1362|               322|            244|         1182|              2264|               178|                 114|            1416|                        8|           3320|
|             23andMe|                         92|                 0|             34|          130|               338|                 0|                   0|               0|                        0|              0|
|             Twitter|                        360|                 0|             94|          798|              4096|               524|                   0|              32|                        0|              0|
|                View|                         12|                36|             68|           78|               258|               104|                   0|              54|                        0|            310|
|              PayPal|                       6876|                 0|            182|         3630|              8834|               930|                   0|               2|                        0|              0|
|              Square|                        668|                 0|             22|          512|              1884|               212|                 124|               0|                        0|              0|
|              Intuit|                       2376|                 0|            206|         1850|              6600|               678|                   0|             112|                        0|              0|
|       Cisco Systems|                       1180|                 0|            614|        11218|             53322|              8624|                   0|              64|                        0|             30|
|              Google|                       1626|                 0|             62|        21466|             64184|              4476|                 586|            1120|                        0|              0|
|             HP Inc.|                       1100|                 0|            420|         3898|             14590|              3172|                   0|            4022|                       12|             12|
|            LinkedIn|                        126|                 0|            652|         1656|              8310|              2516|                   0|              50|                        0|              0|
|                Uber|                       1450|                 0|            276|         1702|              8218|                 8|                   0|              74|                        0|             42|
|           Pinterest|                         62|                 0|             16|           80|              1548|               182|                   0|               0|                        0|              0|
|               Intel|                       1924|               774|            212|        13426|             72320|              2638|                   0|           16972|                        2|              2|
|          MobileIron|                         10|                 0|             30|          148|               638|               182|                   4|               0|                        0|              0|
|               Apple|                      13774|               170|            214|        16410|             46400|             42630|                 836|           33950|                        0|              0|
+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+
only showing top 20 rows

In [157]:
#join df14 and df12
df15=df14.join(df12,on=["company"],how="left_outer")
df15.show()

+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|             company|sum(Administrative support)|sum(Craft workers)|sum(Executives)|sum(Managers)|sum(Professionals)|sum(Sales workers)|sum(Service workers)|sum(Technicians)|sum(laborers and helpers)|sum(operatives)|sum(American_Indian_Alaskan_Native)|sum(Asian)|sum(Black_or_African_American)|sum(Hispanic_or_Latino)|sum(Native_Hawaiian_or_Pacific_Islander)|sum(Overall_totals)|sum(Two_or_more_races)|sum(White)|
+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|              NetApp|                        182|                 0|             72|         2006|              7764|              1302|                   0|              36|                        0|              0|                                 67|      5184|                           633|                    774|                                      26|              18901|                   209|     12008|
|                Lyft|                        836|                 0|             30|          518|              1366|               112|                   4|               0|                        0|              0|                                 18|       657|                           206|                    241|                                       9|               3401|                   105|      2165|
|          Salesforce|                        830|                 0|            474|         5204|             16238|              6686|                   0|               0|                        0|              0|                                 53|     10000|                           968|                   1656|                                     160|              41401|                   958|     27606|
|Hewlett Packard E...|                       5840|                 0|           1198|        11880|             68246|              8958|                   0|            7354|                      366|            136|                                412|     13268|                          7468|                   5974|                                     160|             103978|                  1154|     75542|
|         Sanmina-SCI|                       1362|               322|            244|         1182|              2264|               178|                 114|            1416|                        8|           3320|                                 58|      4021|                           944|                   1825|                                      34|              16025|                    76|      9067|
|             23andMe|                         92|                 0|             34|          130|               338|                 0|                   0|               0|                        0|              0|                                  4|       140|                            10|                     38|                                       2|                594|                    28|       372|
|             Twitter|                        360|                 0|             94|          798|              4096|               524|                   0|              32|                        0|              0|                                 22|      2910|                           216|                    373|                                      36|               9237|                   211|      5469|
|                View|                         12|                36|             68|           78|               258|               104|                   0|              54|                        0|            310|                                  5|       255|                           185|                     55|                                       3|               1272|                    28|       741|
|              PayPal|                       6876|                 0|            182|         3630|              8834|               930|                   0|               2|                        0|              0|                                 98|      8148|                          2495|                   1909|                                      90|              29935|                   343|     16852|
|              Square|                        668|                 0|             22|          512|              1884|               212|                 124|               0|                        0|              0|                                 10|       836|                           166|                    202|                                      10|               3422|                   138|      2060|
|              Intuit|                       2376|                 0|            206|         1850|              6600|               678|                   0|             112|                        0|              0|                                186|      5306|                           723|                   1321|                                      64|              18186|                   406|     10180|
|       Cisco Systems|                       1180|                 0|            614|        11218|             53322|              8624|                   0|              64|                        0|             30|                                276|     39948|                          3792|                   5644|                                     159|             111366|                  1006|     60541|
|              Google|                       1626|                 0|             62|        21466|             64184|              4476|                 586|            1120|                        0|              0|                                162|     43559|                          3080|                   6602|                                     276|             132191|                  2440|     76072|
|             HP Inc.|                       1100|                 0|            420|         3898|             14590|              3172|                   0|            4022|                       12|             12|                                432|     13660|                          5870|                   6756|                                     150|              99377|                  1239|     71270|
|            LinkedIn|                        126|                 0|            652|         1656|              8310|              2516|                   0|              50|                        0|              0|                                 34|      7246|                           474|                    890|                                      31|              19589|                   363|     10551|
|                Uber|                       1450|                 0|            276|         1702|              8218|                 8|                   0|              74|                        0|             42|                                 18|      3972|                           566|                    560|                                      30|              11770|                   354|      6270|
|           Pinterest|                         62|                 0|             16|           80|              1548|               182|                   0|               0|                        0|              0|                                 10|       999|                            47|                     84|                                       1|               2475|                    97|      1237|
|               Intel|                       1924|               774|            212|        13426|             72320|              2638|                   0|           16972|                        2|              2|                                902|     56272|                          6143|                  13190|                                     672|             162003|                  1959|     82865|
|          MobileIron|                         10|                 0|             30|          148|               638|               182|                   4|               0|                        0|              0|                                  3|       577|                            24|                     84|                                       6|               1569|                    22|       853|
|               Apple|                      13774|               170|            214|        16410|             46400|             42630|                 836|           33950|                        0|              0|                                807|     42659|                         20418|                  27462|                                    1083|             226878|                  4691|    129758|
+--------------------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
only showing top 20 rows

In [158]:
#join df10 and df15
df16=df10.join(df15,on=["company"],how="left_outer")
df16.show()

+--------------------+---------+----+------------+------------+-----------+---------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|             company|ownership|year|  valuations|eeo_1 status|sum(female)|sum(male)|sum(Administrative support)|sum(Craft workers)|sum(Executives)|sum(Managers)|sum(Professionals)|sum(Sales workers)|sum(Service workers)|sum(Technicians)|sum(laborers and helpers)|sum(operatives)|sum(American_Indian_Alaskan_Native)|sum(Asian)|sum(Black_or_African_American)|sum(Hispanic_or_Latino)|sum(Native_Hawaiian_or_Pacific_Islander)|sum(Overall_totals)|sum(Two_or_more_races)|sum(White)|
+--------------------+---------+----+------------+------------+-----------+---------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
|              NetApp|   public|2016| 11000000000|         YES|       4522|    14379|                        182|                 0|             72|         2006|              7764|              1302|                   0|              36|                        0|              0|                                 67|      5184|                           633|                    774|                                      26|              18901|                   209|     12008|
|                Lyft|  private|2016|  8000000000|         YES|       1431|     1970|                        836|                 0|             30|          518|              1366|               112|                   4|               0|                        0|              0|                                 18|       657|                           206|                    241|                                       9|               3401|                   105|      2165|
|          Salesforce|   public|2016| 58000000000|         YES|      13189|    28212|                        830|                 0|            474|         5204|             16238|              6686|                   0|               0|                        0|              0|                                 53|     10000|                           968|                   1656|                                     160|              41401|                   958|     27606|
|Hewlett Packard E...|   public|2016| 39000000000|         YES|      34390|    69588|                       5840|                 0|           1198|        11880|             68246|              8958|                   0|            7354|                      366|            136|                                412|     13268|                          7468|                   5974|                                     160|             103978|                  1154|     75542|
|         Sanmina-SCI|   public|2016|  3000000000|         YES|       6280|     9745|                       1362|               322|            244|         1182|              2264|               178|                 114|            1416|                        8|           3320|                                 58|      4021|                           944|                   1825|                                      34|              16025|                    76|      9067|
|             23andMe|  private|2016|  1000000000|         YES|        298|      296|                         92|                 0|             34|          130|               338|                 0|                   0|               0|                        0|              0|                                  4|       140|                            10|                     38|                                       2|                594|                    28|       372|
|             Twitter|   public|2016| 11000000000|         YES|       3179|     6058|                        360|                 0|             94|          798|              4096|               524|                   0|              32|                        0|              0|                                 22|      2910|                           216|                    373|                                      36|               9237|                   211|      5469|
|                View|  private|2016|  1000000000|         YES|        212|     1060|                         12|                36|             68|           78|               258|               104|                   0|              54|                        0|            310|                                  5|       255|                           185|                     55|                                       3|               1272|                    28|       741|
|              PayPal|   public|2016| 52000000000|         YES|      12833|    17102|                       6876|                 0|            182|         3630|              8834|               930|                   0|               2|                        0|              0|                                 98|      8148|                          2495|                   1909|                                      90|              29935|                   343|     16852|
|              Square|   public|2016|  6000000000|         YES|       1184|     2238|                        668|                 0|             22|          512|              1884|               212|                 124|               0|                        0|              0|                                 10|       836|                           166|                    202|                                      10|               3422|                   138|      2060|
|              Intuit|   public|2016| 30000000000|         YES|       7712|    10474|                       2376|                 0|            206|         1850|              6600|               678|                   0|             112|                        0|              0|                                186|      5306|                           723|                   1321|                                      64|              18186|                   406|     10180|
|       Cisco Systems|   public|2016|169000000000|         YES|      29115|    82251|                       1180|                 0|            614|        11218|             53322|              8624|                   0|              64|                        0|             30|                                276|     39948|                          3792|                   5644|                                     159|             111366|                  1006|     60541|
|              Google|   public|2016|579000000000|         YES|      38431|    93760|                       1626|                 0|             62|        21466|             64184|              4476|                 586|            1120|                        0|              0|                                162|     43559|                          3080|                   6602|                                     276|             132191|                  2440|     76072|
|             HP Inc.|   public|2016| 30000000000|         YES|      32241|    67136|                       1100|                 0|            420|         3898|             14590|              3172|                   0|            4022|                       12|             12|                                432|     13660|                          5870|                   6756|                                     150|              99377|                  1239|     71270|
|            LinkedIn|   public|2016| 27000000000|         YES|       7870|    11719|                        126|                 0|            652|         1656|              8310|              2516|                   0|              50|                        0|              0|                                 34|      7246|                           474|                    890|                                      31|              19589|                   363|     10551|
|                Uber|  private|2016| 63000000000|         YES|       3472|     8298|                       1450|                 0|            276|         1702|              8218|                 8|                   0|              74|                        0|             42|                                 18|      3972|                           566|                    560|                                      30|              11770|                   354|      6270|
|           Pinterest|  private|2016| 12000000000|         YES|       1058|     1417|                         62|                 0|             16|           80|              1548|               182|                   0|               0|                        0|              0|                                 10|       999|                            47|                     84|                                       1|               2475|                    97|      1237|
|               Intel|   public|2016|171000000000|         YES|      41259|   120744|                       1924|               774|            212|        13426|             72320|              2638|                   0|           16972|                        2|              2|                                902|     56272|                          6143|                  13190|                                     672|             162003|                  1959|     82865|
|          MobileIron|   public|2016|   388000000|         YES|        473|     1096|                         10|                 0|             30|          148|               638|               182|                   4|               0|                        0|              0|                                  3|       577|                            24|                     84|                                       6|               1569|                    22|       853|
|       Adobe Systems|   public|2016| 64000000000|         YES|       6661|    14244|                        646|                 0|            186|         4896|              6056|              2540|                   0|               0|                        0|              0|                                 39|      5274|                           335|                    956|                                      75|              20905|                   195|     14031|
+--------------------+---------+----+------------+------------+-----------+---------+---------------------------+------------------+---------------+-------------+------------------+------------------+--------------------+----------------+-------------------------+---------------+-----------------------------------+----------+------------------------------+-----------------------+----------------------------------------+-------------------+----------------------+----------+
only showing top 20 rows

In [159]:
#export to csv
ml_df=df16.toPandas()

ml_df.to_csv("/content/drive/MyDrive/ml_csv.csv",index=False,encoding='utf_8_sig')