In [ ]:
#Dependencies and Setup
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [ ]:
#Loading csv files 
file1 = "/content/drive/MyDrive/GA Tech Data Analytics/Project 3 Group 5/Distributions_data_2016.csv"
file2 = "/content/drive/MyDrive/GA Tech Data Analytics/Project 3 Group 5/Reveal_EEO1_for_2016.csv"
file3 = "/content/drive/MyDrive/GA Tech Data Analytics/Project 3 Group 5/2016EEO_Release_Status.csv"

#Read csv files
Distributions_data = pd.read_csv(file1)
EEO1_data = pd.read_csv(file2)
Status_data = pd.read_csv(file3)

**Check file csv uploads**

In [ ]:
Status_data.columns

Index(['COMPANY', 'VALUATION   ', 'OWNERSHIP   ', 'EEO-1 STATUS'], dtype='object')

In [ ]:
EEO1_data.columns

Index(['company', 'year', 'race', 'gender', 'job_category', 'count'], dtype='object')

In [ ]:
Distributions_data.columns

Index(['company', 'percentage', 'demographics', 'job_category'], dtype='object')

In [ ]:
Status_data.head

<bound method NDFrame.head of           COMPANY VALUATION    OWNERSHIP    EEO-1 STATUS
0         23andMe        $1.1b      private          YES
1             8x8        $1.4b       public           NO
2    A10 Networks      $625.0m       public           NO
3          Abaxis        $1.1b       public           NO
4         Accuray      $394.0m       public           NO
..            ...          ...          ...          ...
206      Zenefits        $4.5b      private           NO
207          Zoom        $1.0b      private           NO
208          Zoox        $1.6b      private           NO
209       Zscaler        $1.1b      private           NO
210         Zynga        $2.5b       public           NO

[211 rows x 4 columns]>

In [ ]:
EEO1_data.head

<bound method NDFrame.head of           company  year                race gender          job_category count
0         23andMe  2016  Hispanic_or_Latino   male            Executives     0
1         23andMe  2016  Hispanic_or_Latino   male              Managers     1
2         23andMe  2016  Hispanic_or_Latino   male         Professionals     7
3         23andMe  2016  Hispanic_or_Latino   male           Technicians     0
4         23andMe  2016  Hispanic_or_Latino   male         Sales workers     0
...           ...   ...                 ...    ...                   ...   ...
4495  Sanmina-SCI  2016      Overall_totals    NaN  laborers and helpers     4
4496  Sanmina-SCI  2016      Overall_totals    NaN       Service workers    57
4497  Sanmina-SCI  2016      Overall_totals    NaN                Totals  5205
4498  Sanmina-SCI  2016      Overall_totals    NaN       Previous_totals  5615
4499  Sanmina-SCI  2016      Overall_totals    NaN              Managers   591

[4500 rows x 6 columns]>

In [ ]:
#Checking number of rows, columns in EEO1_data
EEO1_data.shape

(4500, 6)

In [ ]:
#Checking number of rows, columns in Status_data
Status_data.shape

(211, 4)

In [ ]:
#Changing column names in Status_data for easier merging
Status_data.columns = Status_data.columns.str.lower()
Status_data

          company valuation    ownership    eeo-1 status
0         23andMe        $1.1b      private          YES
1             8x8        $1.4b       public           NO
2    A10 Networks      $625.0m       public           NO
3          Abaxis        $1.1b       public           NO
4         Accuray      $394.0m       public           NO
..            ...          ...          ...          ...
206      Zenefits        $4.5b      private           NO
207          Zoom        $1.0b      private           NO
208          Zoox        $1.6b      private           NO
209       Zscaler        $1.1b      private           NO
210         Zynga        $2.5b       public           NO

[211 rows x 4 columns]

**Combining EEO1_data and Status_data**

In [ ]:
#Combine csv files into a single dataset
new_df = pd.merge(EEO1_data, Status_data,how='left',on='company')
new_df

          company  year  ... ownership    eeo-1 status
0         23andMe  2016  ...      private          YES
1         23andMe  2016  ...      private          YES
2         23andMe  2016  ...      private          YES
3         23andMe  2016  ...      private          YES
4         23andMe  2016  ...      private          YES
...           ...   ...  ...          ...          ...
4495  Sanmina-SCI  2016  ...       public          YES
4496  Sanmina-SCI  2016  ...       public          YES
4497  Sanmina-SCI  2016  ...       public          YES
4498  Sanmina-SCI  2016  ...       public          YES
4499  Sanmina-SCI  2016  ...       public          YES

[4500 rows x 9 columns]

In [ ]:
#export to csv
new_df.to_csv( "/content/drive/MyDrive/GA Tech Data Analytics/Project 3 Group 5/combined_csv.csv", index=False, encoding='utf-8-sig')

In [ ]:
#Results returned combined_csv.csv the file is in Project 3 Group 5 folder

# **SciKit Learn Session**

In [ ]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.2'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done